

<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>About</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="{% static 'assets/https://fonts.googleapis.com' %}">
  <link rel="preconnect" href="{% static 'assets/https://fonts.gstatic.com' %}" crossorigin>
  <link href="{% static 'assets/https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap' %}" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS Files -->
  <link href="{% static 'assets/assets/css/variables.css' %}" rel="stylesheet">
  <link href="{% static 'assets/assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: ZenBlog
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
  * Author: BootstrapMade.com
  * License: https:///bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="#" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Meilleur Blog de la ville</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'index' %}">Blog</a></li>
         <li><a href="{% url 'about' %}">A propos</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}"><button class="btn btn-info">Deconnexion</button></li> 
            {% else %}
            <li><a href="{% url 'login-blog' %}"><button class="btn btn-info">Connexion</button></li> 
              {% endif %}
        </ul>
      </nav><!-- .navbar -->

      <div class="position-relative">
        <a href="#" class="mx-2"><span class="bi-facebook"></span></a>
        <a href="#" class="mx-2"><span class="bi-twitter"></span></a>
        <a href="#" class="mx-2"><span class="bi-instagram"></span></a>

        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
        <i class="bi bi-list mobile-nav-toggle"></i>

        <!-- ======= Search Form ======= -->
        <div class="search-form-wrap js-search-form-wrap">
          <form action="search-result.html" class="search-form">
            <span class="icon bi-search"></span>
            <input type="text" placeholder="Search" class="form-control">
            <button class="btn js-search-close"><span class="bi-x"></span></button>
          </form>
        </div><!-- End Search Form -->

      </div>

    </div>

  </header><!-- End Header -->

  <main id="main">
    <section>
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-12 text-center mb-5">
            <h1 class="page-title">A propos de Marie</h1>
          </div>
        </div>

        <div class="row mb-5">

          <div class="d-md-flex post-entry-2 half">
            <a href="#" class="me-4 thumbnail">
              <img src="{% static 'assets/assets/img/post-landscape-2.jpg' %}" alt="" class="img-fluid">
            </a>
            <div class="ps-md-5 mt-4 mt-md-0">
              <div class="post-meta mt-4">A propos de Marie</div>
              <h2 class="mb-4 display-4">parcours</h2>

              <p> Je suis ravi de vous présenter mes réalisations et mon travail en tant que DEVELOPPEUSE FULL STACK PYTHON et actuellement etudiante en licence3 physique chimie et science de la matiere a l'ucad. Je suis MARIE DELZA NDIAYE, une Developpeuse full stack python passionnée par le numerique (le developpement web et mobile). Avec une formation bootcamp chez xarala et j'ai eu ma licence comme technicienne superieur en informatique a l'IPM, j'ai egalement développé une solide expertise dans le dommaine du developpement en PYTHON .</p>
            </div>
          </div>

          <div class="d-md-flex post-entry-2 half mt-5">
            <a href="#" class="me-4 thumbnail order-2">
              <img src="{% static 'assets/assets/img/caa.jpg' %}" alt="" class="img-fluid">
            </a>
            <div class="pe-md-5 mt-4 mt-md-0">
              <div class="post-meta mt-4">Experience &amp; Creation</div>
              <h2 class="mb-4 display-4">Experience &amp; Creation</h2>

              <p>Je suis ravi de partager avec vous mes créations et mes compétences en tant que DEVELOPPEUSE FULL STACK PYTHON. En parcourant ce portfolio, vous découvrirez une sélection de mes projets les plus récents. Chacun d'entre eux est le fruit d'une réflexion minutieuse, d'une recherche créative et d'une exécution soignée.</p>
            </div>
          </div>

        </div>

      </div>
    </section>

    <section class="mb-5 bg-light py-5">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-between align-items-lg-center">
          <div class="col-lg-5 mb-4 mb-lg-0">
            <h2 class="display-4 mb-4">Education</h2>
            <p> Je suis également passionnée par la programmation,quelques connaissances en physique chimie et je m'efforce toujours d'améliorer mes compétences pour rester à jour dans un marché en constante évolution. Au cours de mon cursus, j'ai travaillé sur divers projets passionnants et stimulants.En 2023 j'ai soutenue ma memoire de licence genie informatique avec la mention tres bien et comme sujet:"conception d'une application de gestion de vente dans une pharmacie" . J'ai une passion pour la création de projets innovants et engageants, et je suis constamment à la recherche de nouvelles opportunités pour développer mes compétences et contribuer à des projets excitants. N'hésitez pas à me contacter pour en savoir plus sur mon travail et mes compétences. </p>
            <p><a href="{% url 'index' %}" class="more">Voir le Blog </a></p>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-6">
                <img src="{% static 'assets/assets/img/post-portrait-3.jpg' %}" alt="" class="img-fluid mb-4">
              </div>
              <div class="col-6 mt-4">
                <img src="{% static 'assets/assets/img/post-portrait-4.jpg' %}" alt="" class="img-fluid mb-4">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    
    <div class="footer-legal">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            <div class="copyright">
              © Copyright <strong><span>Marie Ndiaye</span></strong>. All Rights Reserved
            </div>

           

          </div>

          <div class="col-md-6">
            <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>

      </div>
    </div>

  </footer>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/assets/js/main.js' %}"></script>

</body>

</html>