<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>introduction</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS Files -->
  <link href="{% static 'assets/assets/css/variables.css' %}" rel="stylesheet">
  <link href="{% static 'assets/assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: ZenBlog
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
  * Author: BootstrapMade.com
  * License: https:///bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'index' %}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Meilleur Blog de la ville</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'index' %}">Blog</a></li>
          <li><a href="{% url 'about' %}">A propos</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}"><button class="btn btn-info">Deconnexion</button></li> 
            {% else %}
            <li><a href="{% url 'login-blog' %}"><button class="btn btn-info">Connexion</button></li> 
              {% endif %}
        </ul>
      </nav><!-- .navbar -->

      <div class="position-relative">
        <a href="#" class="mx-2"><span class="bi-facebook"></span></a>
        <a href="#" class="mx-2"><span class="bi-twitter"></span></a>
        <a href="#" class="mx-2"><span class="bi-instagram"></span></a>

        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
        <i class="bi bi-list mobile-nav-toggle"></i>

        <!-- ======= Search Form ======= -->
        <div class="search-form-wrap js-search-form-wrap">
          <form action="{% url 'recherche' %}" class="search-form">
            <span class="icon bi-search"></span>
            <input type="text" placeholder="Search" class="form-control">
            <button class="btn js-search-close"><span class="bi-x"></span></button>
          </form>
        </div><!-- End Search Form -->

      </div>

    </div>

  </header><!-- End Header -->

  <main id="main">

    <section class="single-post-content">
      <div class="container">
        <div class="row">
          <div class="col-md-9 post-content" data-aos="fade-up">

            <!-- ======= Single Post Content ======= -->
            <div class="single-post">
              <div class="post-meta"><span class="date">Introduction aux framework python</span> <span class="mx-1">& Marie;</span> <span>20 janvier 2022</span></div>
              <h1 class="mb-5">Introduction aux meilleurs frameworks Python.</h1>
              <p><span class="firstcharacter">L</span>es frameworks facilitent la vie des développeurs en leur offrant une structure pour le développement d’applications. Ils automatisent la mise en œuvre de solutions communes, réduisant ainsi le temps de développement et permettant aux développeurs de se concentrer sur la logique de l’application plutôt que sur les éléments de routine.
Dans cet article, nous partageons une liste des principaux frameworks web Python qui vous seront utiles pour devenir un développeur professionnel et améliorer vos compétences actuelles.
Pourquoi des frameworks Python ? Stack Overflow a récemment publié les résultats de son enquête annuelle auprès des développeurs pour 2019, qui a déclaré que Python est le langage de programmation majeur qui connaît la plus forte croissance.</p>

              <figure class="my-4">
                <img src="https://www.codeur.com/blog/wp-content/uploads/2020/06/python-frameworks-740x447.jpg.webp" alt="" class="img-fluid">
                <figcaption>Python offre plusieurs frameworks complets. En voici quelques-uns parmi les plus populaires: </figcaption>
              </figure>
              <p>
Django est un framework Python open-source complet et gratuit. Il tente d’inclure toutes les fonctionnalités nécessaires par défaut, au lieu de les proposer sous forme de bibliothèques séparées.
Parmi les fonctionnalités de Django, on peut citer l’authentification, le routage d’URL, le moteur de modèles, l’ORM (Object Relationnal Mapper) et la migration de schémas de bases de données (Django v.1.7+).</p>
              <p>Pyramid est une application web basée sur Python, en open-source, et le deuxième framework le plus populaire. Son but est de faire le plus possible avec un minimum de complexité. Fonctionnant sous Python 3, Pyramid suit les progrès technologiques.
La caractéristique la plus frappante de Pyramid est sa capacité à bien fonctionner avec de petites et grandes applications.</p>
              <p>TurboGears est un framework d’application web open source, construit sur de nombreux intergiciels et de nombreuses bibliothèques et a été initialement conçu pour combiner les meilleurs composants des autres frameworks Python.</p>
              <p>
Flask est un framework Python disponible sous la licence BSD. Flask dépend de la boîte à outils WSGI de Werkzeug et du template Jinja2.
L’idée principale derrière Flask est d’aider à construire une base solide d’applications web. De là, vous pouvez utiliser toutes les extensions dont vous pourriez avoir besoin. Flask est choisi pour tous types de projets. En fait, c’est un choix par défaut pour tout projet web qui ne correspond pas à Django.
La légèreté et la modularité de Flask le rendent facilement adaptable aux besoins des développeurs. </p>
              <p>Initialement destiné à la construction d’API, Bottle implémente tout dans un seul fichier source. Il n’a pas de dépendances, à part la Python Standard Library.</p>
            <p>
CherryPy est un framework web minimaliste open-source. Il permet de construire des applications web en Python comme n’importe quel autre programme orienté objet.
CherryPy est créé pour être extensible. Avec son propre serveur web, les points d’extension comprennent des fonctions en dehors du cycle demande-réponse, ce qui augmente le niveau d’extensibilité de CherryPy.</p>

              <figure class="my-4">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQV70O-ALBJxO6KHE3isWtDdGfDf4oeyB9m2A&usqp=CAU" alt="" class="img-fluid">
                <figcaption>Conseil d'installation et d'utilisation de Python </figcaption>
              </figure>
              <p> Conseils pour installer et configurer Python:
Pour apprendre la programmation Python, il va falloir que vous pratiquiez et pour cela il est préférable que Python soit installé sur votre ordinateur. La bonne nouvelle est que vous pouvez installer gratuitement Python sur votre machine, que ce soit sous Windows, Mac OS X ou Linux. Nous donnons dans cette rubrique un résumé des points importants concernant cette installation. Tous les détails et la marche à suivre pas à pas sont donnés à l'adresse https://python.sdv.univ-paris-diderot.fr/livre-dunod.</p>
              <p>L'apprentissage d'un langage informatique comme Python va nécessiter d'écrire des lignes de codes à l'aide d'un éditeur de texte. Si vous êtes débutants, on vous conseille d'utiliser notepad++ sous Windows, BBEdit ou CotEditor sous Mac OS X et gedit sous Linux. La configuration de ces éditeurs de texte est détaillée dans la rubrique Installation de Python disponible en ligne. Bien sûr, si vous préférez d'autres éditeurs comme Atom, Visual Studio Code, Sublime Text, emacs, vim, geany... utilisez-les !

À toute fin utile, on rappelle que les logiciels Microsoft Word, WordPad et LibreOffice Writer ne sont pas des éditeurs de texte, ce sont des traitements de texte qui ne peuvent pas et ne doivent pas être utilisés pour écrire du code informatique.</p>
              <p>Un shell est un interpréteur de commandes interactif permettant d'interagir avec l'ordinateur. On utilisera le shell pour lancer l'interpréteur Python.

Pour approfondir la notion de shell, vous pouvez consulter les pages Wikipedia :

du shell Unix fonctionnant sous Mac OS X et Linux ;
du shell PowerShell fonctionnant sous Windows.
Un shell possède toujours une invite de commande, c'est-à-dire un message qui s'affiche avant l'endroit où on entre des commandes. Dans tout cet ouvrage, cette invite est représentée systématiquement par le symbole dollar $, et ce quel que soit le système d'exploitation.

Par exemple, si on vous demande de lancer l'instruction suivante :

$ python

il faudra taper seulement python sans le $ ni l'espace après le $.</p>
              <p>En programmation, il est courant de répéter un certain nombre de choses (avec les boucles, voir le chapitre 5 Boucles et comparaisons) ou d'exécuter plusieurs instructions si une condition est vraie .</p>
            </div><!-- End Single Post Content -->

            

            
          </div>
          <div class="col-md-3">
            <!-- ======= Sidebar ======= -->
            <div class="aside-block">

              <ul class="nav nav-pills custom-tab-nav mb-4" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-popular-tab" data-bs-toggle="pill" data-bs-target="#pills-popular" type="button" role="tab" aria-controls="pills-popular" aria-selected="true">Popular</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-trending-tab" data-bs-toggle="pill" data-bs-target="#pills-trending" type="button" role="tab" aria-controls="pills-trending" aria-selected="false">Trending</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-latest-tab" data-bs-toggle="pill" data-bs-target="#pills-latest" type="button" role="tab" aria-controls="pills-latest" aria-selected="false">Latest</button>
                </li>
              </ul>

              <div class="tab-content" id="pills-tabContent">

                <!-- Popular -->
                <div class="tab-pane fade show active" id="pills-popular" role="tabpanel" aria-labelledby="pills-popular-tab">
                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Sport</span> <span class="mx-1">& Astou;</span> <span>20 janvier 2020</span></div>
                    <h2 class="mb-2">"Un esprit sain dans un corps sain le tout dans un environnement sain"</h2>
                    <span class="author mb-3 d-block">Juvenal</span>
                  </div>

                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Mode de vie</span> <span class="mx-1">& gerald;</span> <span>04 fevrier 2010</span></div>
                    <h2 class="mb-2">"Vivre simplement pour que les autres puissent simplement vivre" </h2>
                    <span class="author mb-3 d-block">Mahatma Gandhi</span>
                  </div>

                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">& diarra;</span> <span>27 septembre 2009</span></div>
                    <h2 class="mb-2">"Lisez, chaque jour, quelque chose qui élève l'esprit"</h2>
                    <span class="author mb-3 d-block">Edgar Allan Poe</span>
                  </div>

                  

                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Business</span> <span class="mx-1">& yande;</span> <span>20 mars 2020</span></div>
                    <h2 class="mb-2"></h2>
                    <span class="author mb-3 d-block">David Rockefeller</span>
                  </div>

                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Succes</span> <span class="mx-1">& Delza;</span> <span>05 avril 2023</span></div>
                    <h2 class="mb-2"><a href="#">"Le succès n'est pas la clé du bonheur. Le bonheur est la clé du succès. Si vous aimez ce que vous faites, vous réussirez."</a></h2>
                    <span class="author mb-3 d-block">Albert Schweitzer</span>
                  </div>
                </div> <!-- End Popular -->

                <!-- Trending -->
                <div class="tab-pane fade" id="pills-trending" role="tabpanel" aria-labelledby="pills-trending-tab">
                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Technologie</span> <span class="mx-1">& michael;</span> <span>Jul 5th '22</span></div>
                    <h2 class="mb-2">Intelligence Artificielle (IA), l'Internet des Objets (IoT), la cybersécurité, la blockchain, la 5G, la réalité augmentée/virtuelle (RA/RV), la voiture autonome, la ville intelligente.</h2>
                    <span class="author mb-3 d-block">Wilson</span>
                  </div>

                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Mode </span> <span class="mx-1">& maurice;</span> <span>21 septembre 2022</span></div>
                    <h2 class="mb-2">le style minimaliste, le streetwear, la mode durable et éthique, les sacs en bandoulière, le tailoring décontracté, les couleurs pastel, les vestes matelassées.</h2>
                    <span class="author mb-3 d-block">Jenny </span>
                  </div>

                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Alimentation </span> <span class="mx-1">&bullet;</span> <span>22 mars 2023</span></div>
                    <h2 class="mb-2">la cuisine végétalienne, les aliments biologiques et locaux, les plats à base de plantes, les régimes pauvres en glucides, les aliments fermentés, les alternatives à la viande, les superaliments.</h2>
                    <span class="author mb-3 d-block">Jenny</span>
                  </div>

                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Santé </span> <span class="mx-1">&bullet;</span> <span>23 janvier 2020</span></div>
                    <h2 class="mb-2">le bien-être mental, la méditation, le sommeil de qualité, l'entraînement fonctionnel, la santé numérique, la médecine préventive, la thérapie en ligne.</h2>
                    <span class="author mb-3 d-block"> Wilson</span>
                  </div>
                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Divertissement</span> <span class="mx-1">& philip;</span> <span>20 aout 2018</span></div>
                    <h2 class="mb-2">les jeux vidéo, les sports électroniques (e-sports), les podcasts, le streaming de musique et de films, la réalité virtuelle, la réalité augmentée, les plateformes de médias sociaux.</h2>
                    <span class="author mb-3 d-block">Wilson</span>
                  </div>

                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Éducation </span> <span class="mx-1">&bullet;</span> <span>5 decembre 2022</span></div>
                    <h2 class="mb-2">l'apprentissage en ligne, la formation continue, l'éducation personnalisée, les compétences numériques, l'apprentissage par projet, l'éducation à distance, l'intelligence artificielle dans l'éducation.</h2>
                    <span class="author mb-3 d-block">Jenny </span>
                  </div>
                </div> <!-- End Trending -->

              

              </div>
            </div>

            <div class="aside-block">
              <h3 class="aside-title">Video</h3>
              <div class="video-post">
                <a href="https://www.youtube.com/watch?v=ztEx9p1u9SY" class="glightbox link-video">
                  <span class="bi-play-fill"></span>
                  <img src="a{% static 'assets/ssets/img/post-landscape-5.jpg' %}" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Video -->

           

           

          </div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-legal">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            <div class="copyright">
              © Copyright <strong><span>Marie Ndiaye</span></strong>. All Rights Reserved
            </div>

           

          </div>

          <div class="col-md-6">
            <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>

      </div>
    </div>

  </footer>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/assets/js/main.js' %}"></script>

</body>

</html>